// Body
$body-bg: #fcfdff;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;
$primary:#3765ff;
$enable-gradients:false;
$enable-responsive-font-sizes: true;
$basicSecondary: #5CC0EA;